html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
}
.baloon {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    backdrop-filter: blur(15px);
}
.red-baloon {
    background-color: rgb(221, 62, 62);
    position: fixed;
    right: -100px;
    top:-100px
}
.blue-baloon {
    background-color: rgb(49, 49, 192);
    position :fixed ;
    left:-100px;
    bottom:-100px;
}
.clock {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock .time {
    color: rgba(245, 246, 247, 0.553);
    backdrop-filter: blur(15px);
    background-color:rgba(255, 255, 255, 0.06);
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 25px 30px rgb(0, 0, 0, 0.15);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 70px;
    margin: 100px;
    padding: 80px;
}
.clock .time span {
    font-size: 100px;
}

